<h2>Updating <%= task.title %></h2>

<%= form_for task do |f| %>
  <%= error_messages_for(task) %>

  <div class="field">
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </div>

  <div class="action">
    <%= f.submit "Save" %>
  </div>
<% end %>
